.text {
    color: #FFF6E9;
    white-space: pre-wrap;
}

.orange {
    background-color: #FF7F3E;
}

.centered-div {
    background-color: #80C4E9;
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-top: 15%;
    justify-content: center;
    display: flex;
    border: solid #604CC3;
}

.link {
    position: fixed;
    float: right;
    right: 16px;

    color: inherit;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.link:hover{
    cursor: pointer;
}